html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}


/* Standard Light Mode */

body {
    background-color: white;
    color: black;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(26,31,40);
        color: white;
    }
}